@model L01P02_2020SF601_Restaurante.Models.clientes

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle</h1>

<div>
    <h4>clientes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombreCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombreCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.direccion)
        </dd>
    </dl>
</div>
<div>
    <a type="button" class="btn btn-success" asp-action="Edit" asp-route-id="@Model?.clienteId">Editar</a> 
    <a type="button" class="btn btn-outline-secondary" asp-action="Index">Regresar</a>
</div>
